.percent-green {
    color: #2ecc71; /* green */
    font-weight: bold;
}

.percent-red {
    color: #e74c3c; /* red */
    font-weight: bold;
}

#percentage-inline {
    margin-left: 6px;
    font-size: 14px;
}
